*{
    margin:0;
    padding:0;
}

.wrapper {
    width: fit-content;
    padding: 1%;
    /*display:flex;*/
    border-radius: 9px;
    height: fit-content;
    background-color:white;
    box-shadow: 7px 7px 20px rgb(128 128 128);
}

.navimg {
    max-width: 30%;
    margin-top: 1%;
}
.navitem {
    color: #FFFFFF;
    margin-left: 2%;
    font-family: 'Times New Roman';
}
.heading {
    font-size: 180%;
    margin-top: 0%;
    color: white;
    font-family: inherit;
    text-align:center;
   
}
.subheading {
    font-size: 100%;
    text-align:center;
    color: white;
    font-family: inherit;
}
tr:hover{
  cursor:pointer;
}
table {
    table-layout: fixed;
    width: 60px;
}

td,tr {
    /*border: 2px solid #000;*/
    width: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.flip-card {
    background-color:  #4897D8;
    width: 420px;
    height: 170px;
    /*border: 1px solid #f1f1f1;*/
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-color: white;
    color: black;
}

/* Style the back side */
.flip-card-back {
    background-color:  lightslategray;
    color: white;
    transform: rotateY(180deg);
}